name: "NixOS Config Check"
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  check:
    name: CI/CD
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          extra-conf: |
            experimental-features = nix-command flakes
      - name: Check Flake evaluation
        run: nix flake check --show-trace --verbose --accept-flake-config
